<section class="mt-5 ms-1">

  <div class="row">
    <div
      class="col-10 shadow-lg mb-5 bg-body rounded border border-dark container"
    >
      <div class="row">
        <div class="col-12 p-3" style="background-color: rgb(119, 73, 172);">
          <h3 style="color: white;">View Orders</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <table class="table mt-3" id="prtable">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Address</th>
                <th scope="col">Mobile</th>
                <th scope="col">Products</th>
                <th scope="col">Payment</th>
                <th scope="col">Status</th>
                <th scope="col">Options</th>
              </tr>
            </thead>
            <tbody>
              {{#each orders}}
                <tr>

                  <td>{{this.stringDate}}</td>
                  <td>
                    {{this.address.address_collection.first_name}}<br
                    />{{this.address.address_collection.house_name}}<br
                    />{{this.address.address_collection.street}}
                    {{this.address.address_collection.town}}{{this.address.address_collection.pin}}<br
                    />{{this.address.address_collection.state}}
                    {{this.address.address_collection.country}}

                  </td>

                  <td>{{this.user_info.user_mobile}}</td>
                  <td>
                    {{#each this.product_info}}
                      {{this.title}}<br />
                    {{/each}}
                  </td>
                  <td>{{this.payment_option}}</td>
                  <td>{{this.status}}</td>

                  {{!-- <td>{{this.deleted}}</td>
      <td>{{#if this.dispatched}}
        Order Out for Delivery
        {{else}}
        {{#if this.deleted}}
        Order Deleted
        {{else}}
        Order under Processing
        {{/if}}
        {{/if}}
      </td> --}}
                  {{#if this.deleted}}
                    <td>
                      <button class="btn btn-primary" disabled>Edit</button>
                      <button class="btn btn-danger" disabled>Delete</button>
                    </td>
                  {{else}}
                    {{#if this.dispatched}}
                      <td>
                        <button class="btn btn-primary" disabled>Edit</button>
                        <button class="btn btn-danger" disabled>Delete</button>
                      </td>
                    {{else}}
                      {{#if this.canceled}}
                        <td>
                          <button class="btn btn-primary" disabled>Edit</button>
                          <button
                            class="btn btn-danger"
                            disabled
                          >Delete</button>
                        </td>
                      {{else}}
                        <td>
                          <a
                            href="/admin/edit-order/{{this._id}}"
                            class="btn btn-primary"
                          >Edit</a>
                          <button
                            class="btn btn-danger"
                            onclick="deleteData('{{this._id}}')"
                          >Delete</button>
                          {{!-- <a href="/admin/delete-order/{{this._id}}" class="btn btn-danger" onclick="return confirm('Are you sure to delete this {{this._id}}')">Delete</a> --}}
                        </td>
                      {{/if}}
                    {{/if}}
                  {{/if}}
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

{{! <script>
$(function () {
    $('#prtable').DataTable();
} );
</script> }}
<script>
  function deleteData(id){
     Swal.fire({ title: 'Are you sure?', text: "You won't be able to revert this!", icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33', 
    confirmButtonText:'Yes, delete it!' }).then((result) => {
       if (result.isConfirmed) {
          $.ajax({
            url:"/admin/delete-order/"+id, method:'get', success:(responce)=>{
                if(responce.success){
                   location.reload()
                    }
                   }
                 })
               }
             })
           }
</script>