<div class="row ms-5">
  <div class="col-10 shadow-lg mb-5 mt-5 bg-body rounded border border-dark">
    <div class="row">
      <div class="col-12 p-3" style="background-color: rgb(119, 73, 172);">
        <h3 style="color: white;">Users feedback</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table mt-5 col-11" id="usrtable">
          <thead>
            <tr>
              <th scope="col">User Id</th>
              <th scope="col">User Name</th>
              <th scope="col">Email</th>
              <th scope="col">Mobile</th>
              <th scope="col">Feedbacks</th>
            </tr>
          </thead>
          <tbody>

            {{#each data}}
              <tr>

                <td>{{this.user_data}}</td>
                <td>{{this.user_info.user_name}}</td>
                <td>{{this.user_info.user_email}}</td>
                <td>{{this.user_info.user_mobile}}</td>
                <td>{{#each this.feedbacks}}
                    <label for="">{{@index}} : {{this}}</label><br />

                  {{/each}}
                </td>

              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>