<section>
  <div class="row ms-5 mt-5">
    <div class="col-md-8 shadow-lg p-3 mb-5 bg-body rounded">
      <table class="table mt-5" id="prtable">
        <thead>
          <tr>
            <th>Category name</th>
            <th>Offer</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          {{#each category}}
            <tr>
              <td>{{this.category-name}}</td>
              <td>{{this.offer}}</td>
              <td>{{#if this.offerstatus}}
                  <button
                    class="btn btn-danger"
                    onclick="removeOff('{{this._id}}')"
                  >Remove offer</button>

                {{else}}
                  <a
                    href="/admin/add-cat-offer/{{this._id}}"
                    class="btn btn-primary"
                  >Add offer</a>
                {{/if}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>

<script>
  function removeOff(catId){ $.ajax({ url: '/admin/remove-cat-offer/' + catId,
  method: 'post', success: (response) => { if (response.status) {
  window.location.href='/admin/view-category-offer' } } }) }
</script>