<section style="margin: 0px;">
    <div class="row m-0">
        <div class="container-fluid col-1 d-flex justify-content-center mt-4" style="width: 100%;"> 
        <img src="/banner/img-banner-offer.webp" alt="" class="img-fluid" style="max-width: 100%; height: auto;">
        </div>
    </div>
</section>
<section style=" margin-top: 50px;">
    <div class="row m-0 ">
        <form action="/proceed-to-payment" method="post" class="form-control d-flex justify-content-around">
            <div class="col-7" style="border-radius: 20px; padding: 50px; border: 1px solid gray;">
                <table class="table">
                    <tr class="mt-3">
                            <td> First Name </td>
                            <td><input type="text" name="first_name" id="fname" onkeyup="validFname()" class="form-control border border-dark rounded-lg" style="border-radius: 10px;">
                                <span id="fname-error" class="text-danger text-center"> </span>
                            </td>
                            <td class="ms-4">Second Name</td>
                            <td>
                            <input type="text" name="second_name" id="sname" onkeyup="validSname()" class="form-control border border-dark rounded-lg" style="border-radius: 10px;">
                            <span id="sname-error" class="text-danger text-center"></span>
                            </td>
                     </tr>
                      <tr class="mt-3">
                           <td> House Name </td>
                           <td><input type="text" name="house_name" id="hname" onkeyup="validHname()" class="form-control border border-dark rounded-lg" style="border-radius: 10px;"> 
                           <span id="hname-error" class="text-danger text-center"></span>
                           </td>
                            <td class="ms-4">Street</td>
                            <td>
                            <input type="text" name="street" id="street" onkeyup="validStreet()" class="form-control border border-dark rounded-lg" style="border-radius: 10px;">
                            <span id="street-error" class="text-danger text-center"></span>
                            </td>
                    </tr>
                     <tr class="m-3">
                            <td> Town </td>
                            <td><input type="text" name="town" id="town" class="form-control border border-dark rounded-lg" style="border-radius: 10px;"> 
                            <span id="town-error" class="text-danger text-center"  ></span>
                            </td>
                            <td class="ms-4">PIN</td>
                            <td>
                            <input type="text" name="pin" id="pin" onkeyup="validPin()" class="form-control border border-dark rounded-lg" style="border-radius: 10px;"> 
                            <span id="pin-error" class="text-danger text-center"></span>
                            </td>
                    </tr>
                    <tr class="m-3">
                            <td> State </td>
                            <td><input type="text" name="state" id="state" class="form-control border border-dark rounded-lg" style="border-radius: 10px;">
                                <span id="state-error" class="text-danger text-center"></span>
                            </td>
                            <td class="ms-4"> Country</td>
                            <td><input type="text" name="country" id="country" class="form-control border border-dark rounded-lg" style="border-radius: 10px;">
                            <span id="country-error" class="text-danger text-center"></span>
                            </td>
                    </tr>
                    <tr class="m-3">
                            <td>Mobile</td>
                            <td>
                            <input type="text" name="mobile" id="mobile" disabled value="{{user.user_mobile}}" class="form-control border border-dark rounded-lg" style="border-radius: 10px;">
                             <span id="mobile-error" class="text-danger text-center"></span>
                            </td>
                            <td class="ms-4"> Email </td>
                            <td><input type="text" name="email" id="email" disabled value="{{user.user_email}}" class="form-control border border-dark rounded-lg" style="border-radius: 10px;">
                            <span id="email-error" class="text-danger text-center"></span>
                            </td>
                     </tr>
                    <tr class="m-3">
                            <td><input type="text" name="userId" hidden value="{{user._id}}"></td>
                            <td>
                                <input type="text" name="total-amount" hidden value="{{total}}">
                            </td>
                    </tr> 
                </table> 
            </div>
            <div class="col-4" style=" border-radius: 20px; padding-top: 50px; padding-bottom: 50px; border: 1px solid gray;">
                <div class="row">
                    <div class="col-12">
                        <div class="row m-0 p-0">
                            <div class="col-12 d-flex justify-content-center"><h5 > Enter your coupon code if any </h5></div>
                        </div>
                        <div class="row d-flex justify-content-around p-0 m-2">
                            <div class="col-6"><input type="text" name="coupon" id="coupon" class="" class="form-control border border-dark rounded"  ></div>
                            <div class="col-4"><button type="button" class="btn btn-primary btn-sm" onclick="validateCoupon()">Apply</button></div>
                        </div>
                        <div class="row  p-0 m-0">
                            <div class="col-12 d-flex justify-content-center"><span id="couponAlert" class="text-danger text-center"></span></div>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-center p-0 m-0">
                        <div class="col-4 d-flex justify-content-end">
                            <h6>Total MRP : </h6>
                        </div>
                        <div class="col-4">
                        <h5><span id="totalView">{{total}}</span></h5> 
                        <input type="text" name="total" id="total" value="{{total}}" hidden>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-center p-0 m-0">
                        <div class="col-4 d-flex justify-content-end">
                            <h6>Wallet : </h6>
                        </div>
                        <div class="col-4">
                            <h5><span id="totalView1">{{walletBalance}}</span></h5>
                            <input type="text" name="wallet" id="wallet" value="{{walletBalance}}" hidden>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center p-0 m-0">
                        <div class="col-4 d-flex justify-content-end"><h6>Amount Payable : </h6></div>
                        <div class="col-4">
                            <h5><span id="totalView2">{{amountPayable}}</span></h5>
                            <input type="text" name="amountPay" id="amountPay" value="{{amountPayable}}" hidden>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-around p-0 mt-2 ms-0 me-0">
                        <div class="col-6"><a href="/" class=" btn btn-warning ms-3 rounded" style="">Continue purchase</a></div>
                        <div class="col-6"><button class="btn btn-success ml-5 rounded" type="submit" onclick="return validForm()"> Proceed to Payment </button></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
            <script src="/javascripts/validateAddAddress.js"></script>